/*algemeen*/
body {
  color: #d1ccc6;
  background-color: #191a1a;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
/*header en footer*/
.logo {
  width: 150px;
}
.paginaFooter a,
.paginaHeader a {
  color: #d1ccc6;
}
.actieve {
  font-weight: 600;
}
.paginaFooter a:hover,
.paginaHeader a:hover {
  color: #bbb9b8;
}
.hamburger {
  position: absolute;
  top: 25px;
  right: 5%;
}
/*home-elementen*/
.standaardVak {
  background-color: #595f62;
  color: #d1ccc6;
  border-color: #393c3f;
}
.accordion-button:not(.collapsed) {
  color: #393c3f;
  background-color: rgba(255, 255, 255, 0.6);
  background-color: #d1ccc6;
}
.accordeonItem {
  color: #d1ccc6;
  background-color: #191a1a;
}
.navigatie {
  width: 100px;
}
.carouselGroot {
  display: block;
}
.carouselKlein {
  display: none;
}
/*types*/
.donkerCard {
  border-color: #2d2d29;
  color: #d1ccc6;
  background-color: #191a1a;
}
.card-header,
.card-title {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: x-large;
}
/*mustwatch*/
.change {
  border-color: #393c3f;
  color: #d1ccc6;
  background-color: #191a1a;
}
.change:hover {
  border-color: #393c3f;
  color: #d1ccc6;
  background-color: #232627;
}
.inactief {
  background-color: #232627;
  border-color: #393c3f;
  color: #a7a49e;
}
.inactief:hover {
  background-color: #232627;
  border-color: #393c3f;
  color: #a7a49e;
  cursor: auto;
}
.videoOpGroterScherm {
  width: 100%;
  height: 200px;
}
.videoTitel {
  font-family: "Indie Flower", cursive;
}
/*geschiedenis*/
.articleOpGroterScherm {
  width: 100%;
}
@media (min-width: 768px) {
  /*mustwatch*/
  .videoOpGroterScherm {
    width: 100%;
    height: 350px;
  }
}
@media (min-width: 992px) {
  /*home*/
  .introtekstOpGroterScherm {
    width: 50%;
    align-self: center;
  }
  .carouselGroot {
    display: none;
  }
  .carouselKlein {
    display: block;
  }
  /*geschiedenis*/
  .articleOpGroterScherm {
    width: 40%;
  }
  /*mustwatch*/
  .videoOpGroterScherm {
    width: 100%;
    height: 450px;
  }
}
