.logo {
  width: 150px;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.ondertitel {
  font-family: "Indie Flower", cursive;
}
.navigatie {
  width: 100px;
}
.carouselGroot {
  display: block;
}
.carouselKlein {
  display: none;
}
.position-absolute-right {
  position: absolute;
  top: 25px;
  right: 5% !important;
}
.card-header,
.card-title {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: x-large;
}

@media (min-width: 992px) {
  .carouselGroot {
    display: none !important;
  }
  .carouselKlein {
    display: block !important;
  }
  .kleiner {
    width: 50% !important;
    align-self: center;
  }
  .grootScherm {
    width: 40% !important;
  }
  .groterScherm {
    width: 560px;
    height: 315px;
  }
}
